# Server Configuration
SERVER_PORT=3000
APP_NAME=EventBooking
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# MongoDB Connection
MONGODB_URI=mongodb://127.0.0.1:27017/eventBooking?directConnection=true

# Password Hashing
SALT_ROUNDS=7

# JWT Secrets & Expiration
ACCESS_SIGNITURE=your_super_secret_jwt_access_signature_key_here
REFRESH_SIGNITURE=your_super_secret_jwt_refresh_signature_key_here
ACCESS_TOKEN_EXPIRATION=1200 S
REFRESH_TOKEN_EXPIRATION=7 D

